{% extends 'BRadmin_index.html'%}
{% load static %}
{% block content %}

<style>
    .table1 {
        margin-left: auto;
        margin-right: auto;
        
    }

    th,
    td {
        text-align: center;
    }
</style>

<div class="row">
    <div class=" col-12 grid-margin table1">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Leave Details</h4>
                <input type="text" class="form-control " style="color:white" onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Branch</th>
                                <th>Designation</th>
                                <th>Leave From</th>
                                <th>Leave To</th>
                                <th>Half/Full</th>
                                <th>Reason</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in leaves %}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.branch}}</td>
                                <td>{{i.Designation}}</td>
                                <td>{{i.leavefrom }}</td>
                                <td>{{i.leaveto}}</td>
                                <td>{{i.halforfull}}</td>
                                <td>{{i.reason}}</td>
                                <td><a href="admin_leave_delete?id={{i.id}}">Delete</a></td>
                            </tr>
            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
