{% extends 'BRadmin_index.html'%}
{% load static %}
{% block content %}
<style>
    #myprofile {
        margin-left: 3vh;
        margin-top: 3vh;
        font-size: 24px;
        color: gray;
    }

    form {
        margin-left: auto;
        margin-right: auto;
        /* min-width: 100px;
        max-width: 550px;
        width: 550px; */
        margin-top: 5vh;
    }

    #form-label {
        color: white
    }

    .btn-primary {
        border-radius: 5px;
        margin-top: 2vh;
        height: 50px;
        width: 200px;
    }

    .form-control {
        color: white;

    }


    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 0.4em;
        background-color: black;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #191c24;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .btn {
            border:1px solid #636d87;
            color: #636d87;
        }
</style>

<label id="myprofile">Registration Update</label>
<hr>
<form autocomplete="off" action="/base_app/BRadmin_registration_update">
    <div class="container">
        <div class="row">
            <div class="col">
                <label id="form-label">Name:</label>
                <input type="text" class="form-control " name="fname" autocomplete="off"><br>
                <label id="form-label">Father Name:</label>
                <input type="text" class="form-control " name="fathername" autocomplete="off"><br>
                <label id="form-label">Mother Name:</label>
                <input type="text" class="form-control " name="mothername" autocomplete="off"><br>
                <label id="form-label">Date of Birth</label>
                <input type="text" class="form-control " name="dob" autocomplete="off"><br>
                <label id="form-label">Gender</label>
                <input type="text" class="form-control " name="gender" autocomplete="off"><br>
                <label id="form-label">Present Address1:</label><br>
                <input type="text" class="form-control" name="address1" autocomplete="off"><br>
                <label id="form-label">Present Address2:</label><br>
                <input type="text" class="form-control" name="address2" autocomplete="off"><br>
                <label id="form-label">Present Address3:</label><br>
                <input type="text" class="form-control" name="address3" autocomplete="off"><br>
                <label id="form-label">Pincode</label><br>
                <input type="text" class="form-control" name="pincode" autocomplete="off"><br>
                <label id="form-label">District</label><br>
                <input type="text" class="form-control" name="district" autocomplete="off"><br>
                <label id="form-label">State</label><br>
                <input type="text" class="form-control" name="state" autocomplete="off"><br>
                <label id="form-label">Country</label><br>
                <input type="text" class="form-control" name="country" autocomplete="off"><br>
                <label id="form-label">Permanent Address1:</label><br>
                <input type="text" class="form-control" name="paddress1" autocomplete="off"><br>
                <label id="form-label">Permanent Address2:</label><br>
                <input type="text" class="form-control" name="paddress2" autocomplete="off"><br>
                <label id="form-label">Permanent Address3:</label><br>
                <input type="text" class="form-control" name="paddress3" autocomplete="off"><br>
                <label id="form-label">Pincode</label><br>
                <input type="text" class="form-control" name="ppincode" autocomplete="off"><br>
                <label id="form-label">District</label><br>
                <input type="text" class="form-control" name="pdistrict" autocomplete="off"><br>
                <label id="form-label">State</label><br>
                <input type="text" class="form-control" name="pstate" autocomplete="off"><br>
                <label id="form-label">Country</label><br>
                <input type="text" class="form-control" name="pcountry" autocomplete="off"><br>
                <label id="form-label">Mobile number:</label>
                <input type="text" class="form-control" name="mobile" autocomplete="off"><br>
                <label id="form-label">Alternative number:</label>
                <input type="text" class="form-control" name="alternative" autocomplete="off"><br>
                
                
               
                <label id="form-label">Designation:</label>
                <input type="text" class="form-control" name="designation" autocomplete="off"><br>
                <label id="form-label">Trainer:</label>
                <input type="text" class="form-control" name="trainer" autocomplete="off"><br>
                <label id="form-label">Hr:</label>
                <input type="text" class="form-control" name="hr" autocomplete="off"><br>
                <label id="form-label">Manager Department:</label>
                <input type="text" class="form-control" name="managerdepartment" autocomplete="off"><br>
                <label id="form-label">Email:</label>
                <input type="text" class="form-control" name="email" autocomplete="off"><br>
                <label id="form-label">Passwprd</label>
                <input type="text" class="form-control" name="password" autocomplete="off"><br>
                
                

                <label id="myprofile">Academic Profile</label>
                <hr>
                <label id="myprofile" style="font-size: 15px;">Plus Two</label><br>
                <input type="text" class="form-control" name="plustwo" autocomplete="off"><br>
                <label id="form-label">School:</label>
                <input type="text" class="form-control" name="school" autocomplete="off"><br>
                <label id="form-label">Aggregate:</label>
                <input type="text" class="form-control" name="aggregate" autocomplete="off"><br>
                <label id="form-label">Degree:</label>
                <input type="text" class="form-control" name="degree" autocomplete="off"><br>
                <label id="form-label">Stream:</label>
                <input type="text" class="form-control" name="stream" autocomplete="off"><br>
                <label id="form-label">Passout Year:</label>
                <input type="text" class="form-control" name="passoutyear" autocomplete="off"><br>
                <label id="form-label">Aggregate</label>
                <input type="text" class="form-control" name="aggregate1" autocomplete="off"><br>
                <label id="form-label">Supply</label>
                <input type="text" class="form-control" name="supply" autocomplete="off"><br>
                <label id="form-label">PG</label>
                <input type="text" class="form-control" name="pg" autocomplete="off"><br>
                <label id="form-label">Details</label>
                <input type="text" class="form-control" name="details" autocomplete="off"><br>
                <label id="form-label">Duration:</label>
                <input type="text" class="form-control" name="duration" autocomplete="off"><br>
                <label id="form-label">Certification:</label>
                <input type="text" class="form-control" name="certificate" autocomplete="off"><br>
                
                <label id="form-label">Details:</label>
                <input type="text" class="form-control" name="details1" autocomplete="off"><br>
                <label id="form-label">Duration:</label>
                <input type="text" class="form-control" name="duration1" autocomplete="off"><br>
                <label id="form-label">Certification:</label>
                <input type="text" class="form-control" name="certificate1" autocomplete="off"><br>
                <label id="form-label">Title:</label>
                <input type="text" class="form-control" name="title" autocomplete="off"><br>
                <label id="form-label">Duration:</label>
                <input type="text" class="form-control" name="duration2" autocomplete="off"><br>
                <label id="form-label">Description:</label>
                <input type="text" class="form-control" name="description" autocomplete="off"><br>
                <label id="form-label">URL:</label>
                <input type="text" class="form-control" name="url" autocomplete="off"><br>
                <br><br>
                <label id="myprofile" style="font-size: 15px;">Skills</label><br><br>
                <label id="form-label">Skill 1:</label>
                <input type="text" class="form-control" name="skill1" autocomplete="off"><br>
                <label id="form-label">Skill 2:</label>
                <input type="text" class="form-control" name="skill2" autocomplete="off"><br>
                <label id="form-label">Skill 3</label>
                <input type="text" class="form-control" name="skill3" autocomplete="off"><br>
                <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>
{% endblock %}